.banner{
  background-image: url(image.png);
  background-size: cover;
  
}

.banner-content{
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  justify-content:space-around;
  

}

.tagline{
    display:flex;
    height:40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}